#calc_tt {
	display: block;
	position: absolute;
	background-color: rgba(0,0,0,.7);
	border: 3px solid #3d352a;
	border-radius: 20px;
	z-index: 200;
}

#calc_tttop {
	display: block;
	height: 5px;
	overflow: hidden;
	z-index: 200;
}

#calc_ttcontent {
	display: block;
	padding: 2px 12px 3px 12px;
	color: #fffdf8;
	z-index: 200;
}

#calc_ttbottom {
	display: block;
	height: 5px;
	overflow: hidden;
	z-index: 200;
}